#browseradptionrates img {
	cursor: pointer;
}

#browseradptionrates img:hover {
    -webkit-transform: scale(3);
    -moz-transform: scale(3);
    -o-transform: scale(3);
    -ms-transform: scale(3);
    transform: scale(3);
}